<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Poster</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css/" %}"/>
</head>
<body>
    <h1>Bem vindo</h1>
    <h2>Acess Record</h2>

    <div class="djangtwo">
        {% if access_records %}
            <table>
                <thead>
                    <th>Nome do Site</th>
                    <th>Datas Acessos</th>
                </thead>

            {% for acc in access_records %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.data}}</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nenhum Acesso</p>
            {% endif %}

    </div>



</body>
</html>